
.buttonCN {
  border-radius: 50%;
  border: none;
  width: 34px;
  height: 34px;
  background-color: rgba(241, 242, 243, 1);

  &:hover {
    background-color: rgba(65, 152, 197, 1);

    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(19%) saturate(5781%) hue-rotate(179deg) brightness(117%) contrast(97%);
    }
  }
}

.imgCN {
  img {
    width: 14px;
    height: 14px;
    filter: brightness(0) saturate(100%) invert(46%) sepia(11%) saturate(874%) hue-rotate(175deg) brightness(87%) contrast(82%);
  }
}
