.container {
  margin-top: 9px;
}

.fakeButton {

  text-align: start;
  align-content: center;
  width: 230px;
  height: 36px;

  &:hover {
    background: rgba(241, 242, 243, 1);
  }

  span {
    margin: auto 0 auto 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
  }
}

