.icon {
  background: rgba(241, 242, 243, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 14px;
    height: 50%;
  }
}
